@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    min-height: 100vh;
    min-width: 100vw;
    scroll-behavior: smooth;
}
.font-family{
  font-family: 'Oswald', sans-serif;
  
}

.navbar-brand{
  font-size: 27px !important;
  cursor: pointer;
  color: #fff;
}
#navbarSupportedContent ul li a{
  font-size: 27px;
  cursor: pointer;
  margin: 0px 10px;
  color: #fff;
}
#navbarSupportedContent ul li a:hover{
  color: #ee5684;
 
}

.introduction
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
  
}
@keyframes boxImgRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.box img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation-name: boxImgRotate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.introduction p
{
  font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.intro-para p{
    margin: 0px 0px;
}

.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.container1 .serviceBox{
    position: relative;
    width: 350px;
    height: 280px;
    background: #51446e;
    border-radius: 20px;
    overflow: hidden;

}
.container1 .serviceBox .icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:var(--i);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.container1 .serviceBox:hover .icon{
    top: 30px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container1 .serviceBox .icon ion-icon{
    font-size: 5em;
    color: #fff;
    transition: 0.5s;
}
.container1 .serviceBox:hover .icon ion-icon{
    font-size: 2em;
}
.container1 .serviceBox .content{
    position: relative;
    margin-top: 100px;
    padding: 20px;
    color: #fff;
    text-align: center;
    z-index: 1;
    transform: scale(0);
    transition: 0.5s;
}
.container1 .serviceBox:hover .content{
    transform: scale(1);
}
.container1 .serviceBox .content h2{
    margin-top: 10px;
    margin-bottom: 0px;
}
.container1 .serviceBox .content p{
    font-weight: 300;
    line-height: 1.5em;
}


.manage{
    width: 500px;
}


  


/* ===== SKILLS =====*/
.skills__container{
    row-gap: 2rem;
    text-align: center;
    display: flex;
  }
  .skills__subtitle{
    margin-bottom: 1rem;
  }
  .skills__text{
    margin-bottom: 2rem;
  }
  .skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
  }
  .skills__icon{
    font-size: 2rem;
    margin-right: 1rem;
    color: #4070F4;
  }
  .skills__names{
    display: flex;
    align-items: center;
  }
  .skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#4070F4;
    height: .25rem;
    border-radius: .5rem;
    z-index: -10;
  }
  .skills__html{
    width: 95%;
  }
  .skills__css{
    width: 85%;
  }
  .skills__js{
    width: 65%;
  }
  .skills__python{
    width: 90%;
  }
  .skills__java{
    width: 85%;
  }
  .skills__php{
    width: 80%;
  }
  .skills__c{
    width: 85%;
  }
  .image_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .skills__img{
    border-radius: .5rem;
    margin-left: 10px;
    

  }



.sorry-alert{
margin-top: 5px;
font-family: 'Oswald', sans-serif;
}

  @media screen and (max-width:1225px)
{
  .manage{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 28px;

  }
  .skills__container{

    flex-wrap: wrap;
    margin-left: 5px;
  }
  .skills__img{
    height: 400px;
    width: 359px;
    margin-left: 0px;
  }
  .manage-details{
    width: 177px;
    margin-bottom: 0px
  }

}